[Unit]
Description=Rain sensor service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/pi/server
EnvironmentFile=/etc/systemd/system/rain_sensor.conf

[Install]
WantedBy=multi-user.target